h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
}



.navbar{
    padding: 0 100px;
    background: rgba(3, 20, 55, 0);
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.navbar.scrolled{
    background: rgba(3, 20, 55, 1);
}
.navbar-brand img{
    width: 100%;
    height: 70px;
    
}
.nav-link{
    color: #ffffff;
}
.nav-link:hover{
    color: #4d94ea;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.fa-bars{
    color: #4d94ea;
    font-size: 1.7rem;
}
.nav-link.active{
    color: #4d94ea;
}
/* span.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
} */
.hero{
    width: 100%;
    height: 100vh;
    background: url(./bg-hero.jpg);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    z-index: 1;
    padding: 20px;
}
.hero .title{
    z-index: 6;
}
.hero h1{
    font-size: 4rem;
    color: #ffffff;
    padding-bottom: 2rem;
}
.hero h1 span{
    color: #4d94ea;
    font-family: 'Playfair Display', serif;

}
.hero .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 4;
    position: absolute;
}
.hero form{
    z-index: 5;
    width: 70%;
}
.btn-outline-success{
    border-color: #4d94ea;
    color: #ffffff;
    background-color: #4d94ea;
}
.btn-outline-success:hover{
    border-color: #4d94ea;
    color: #031437;
    background-color: #ffffff;
}
.next{
    padding: 100px 20px;
}
.next .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-bottom: 20px;
}
.next .info h2{
    text-align: left;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
}
.next .info h2.blue{
    color: #4d94ea;
}
.next .info p.top{
    padding-top: 30px;
    padding-bottom: 20px;
}
.next .info p{
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 300;
}
.side-pic img{
    max-height: 800px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.btn-inner{
    margin-top: 20px;
    width: 200px;
    padding: 10px 20px;
    margin-right: auto;
}
.featured {
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.featured h1{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 100px;
}
.featured .card{
    padding: 10px;
    margin-bottom: 20px;
    
}
.featured .card a{
    text-decoration: none;
    color: black;
}
.featured .card img{
    border-radius: 20px;
}
.featured .card .status{
    font-size: 0.7rem;
    position: absolute;
    background: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
    color: green;
}
.featured .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 175px;
}
.featured .card .card-body .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.featured .card .card-body .top .fa-heart{
    margin-right: 10px;
}
.featured .card .card-body .top .price{
    font-size: 1.3rem;
    color: #4d94ea;
    font-weight: 700;
}
.featured .card .card-body .middle .address{
    padding-bottom: 10px;
}
.featured .card .card-body .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.featured .card .card-body .bottom span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.featured .card .card-body .bottom .fas{
    padding-right: 10px;
}

.review{ 
    background: #fff; 
    padding: 100px 0;
}
.review h1{
    text-align: center;
    font-size: 3rem;
    z-index: 3;
    padding-bottom: 50px;
}
#testimonial-slider{
    padding: 50px 20px 35px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 115px 19px rgba(236, 236, 236, .3);
}
.testimonial .description{
    font-size: 14px;
    color: #777;
    line-height: 26px;
    text-indent: 30px;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 0;
    left: -15px;
}
.testimonial .title{
    font-size: 24px;
    font-weight: bold;
    color: #363636;
    text-transform: capitalize;
    margin: 0;
}
.testimonial .post{
    display: block;
    font-size: 15px;
    color: #363636;
}
.owl-buttons{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 40%;
    left: 0;
}
.owl-prev,
.owl-next{
    position: absolute;
    left: 0;
    transition: all 0.4s ease-in-out 0s;
}
.owl-next{
    left: auto;
    right: 0;
}
.owl-buttons .owl-prev:before,
.owl-buttons .owl-next:before{
    content: "\f104";
    font-weight: 900;
    font-size: 60px;
    font-weight: 900;
    color: #cacaca;
    line-height: 20px;
    opacity: 0.8;
}
.owl-buttons .owl-next:before{
    content: "\f105";
}
.owl-buttons .owl-prev:hover:before,
.owl-buttons .owl-next:hover:before{
    opacity: 1;
}
.owl-theme .owl-controls .owl-buttons div{
    background: transparent;
}
.owl-theme .owl-controls{
    margin-top: 40px;
}
.owl-theme .owl-controls .owl-page span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #031437 ;
    background: url("https://randomuser.me/api/portraits/women/36.jpg") no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out 0s;
}
.owl-theme .owl-controls .owl-page:nth-child(2) span{
    background: url("https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=73a9df4b7bd1b330db1e903e08575ec1") no-repeat;
    background-size: cover;
}
.owl-theme .owl-controls .owl-page:nth-child(3) span{
    background: url("https://images.unsplash.com/photo-1519699047748-de8e457a634e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ") no-repeat;
    background-size: cover;
}
.owl-theme .owl-controls.clickable .owl-page:hover span{
    opacity: 0.5;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page.active:hover span{
    border-color: #4d94ea;
    opacity: 1;
}

.footer_about span{
    padding-bottom: 10px;
}
.footer_social {
    display: flex;
    flex-direction: row;
}
.footer_social a{
    padding-right: 10px;
}

.footer_social a:hover{
    color: #4d94ea;
}

.links a:hover{
    color: #4d94ea;
}
@media only screen and (max-width: 479px){
    .owl-buttons{ bottom: 30%; }
}
footer{
    background: #031437;
    padding-top: 50px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    width: 100%;
}
footer .links{
    display: flex;
    flex-direction: column;
}
footer .links h3{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #4d94ea;
}
footer .links a{
    text-decoration: none;
    padding-bottom: 10px;
    color: #fff;
}
footer .copy {
    padding: 5px 0;
}
footer .copy p{
    text-align: center;
    font-size: .8rem;
}




/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .navbar{
        padding: 0 20px;
        background: rgba(3, 20, 55, 1);
        padding-bottom: 20px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 991px){  
    .navbar{
        padding: 0 20px;
        background: rgba(3, 20, 55, 1);
        padding-bottom: 20px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
